.App {
  text-align: center;
}

/* main container */

.mainContainer {
  text-align: center;
  height: 700px;
  display: flex;
  justify-content: center;
}

.displayedContent {
  border: 2.4px solid black;
  border-radius: 4px;
  margin-top: 50px;
  height: 475px;
  width: 299px;
  display: flex;
  flex-direction: column;
}
