.App {
  text-align: center;
}

/* main container */

.mainContainer {
  border: 1px solid red;
  text-align: center;
  height: 700px;
  display: flex;
  justify-content: center;
}

.displayedContent {
  border: 1px solid blue;
  border-radius: 4px;
  margin-top: 50px;
  height: 475px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

/* tab bar */
.tabBar {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0px;
  /* border-radius: 10px;
  background: #fafafa;
  box-shadow: inset -5px -5px 10px #dfdfdf, inset 5px 5px 10px #ffffff; */
  padding-top: 10px;
}

.tab {
  width: 45%;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  
  /* display: flex;
  justify-content: center; */
  border-radius: 20px;
  background: #fafafa;
  box-shadow: 8px -8px 7px #e9e9e9, -8px 8px 7px #ffffff;
}



/* rockbot header */
.rockbotHeader {
  display: flex;
  justify-content: center;
  height: 30px;

  color: white;
  background-color: #55b9f3;
  padding-bottom: 10px;
  padding-top: 1px;
}

/* now playing */
.nowPlayingInfo {
  height: 90px;
  display: flex;
  padding-top: 2px;
  margin-top: 5px;
  margin-left: 12px;
  margin-right: 12px;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: inset -5px -5px 10px #dfdfdf, inset 5px 5px 10px #ffffff;
}

.artistAndSong {
  width: 75%;
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: flex-start;
}

.artistAndSongText {
  font-size: 12px;
}

.artistImage {
  height: 80px;
  margin-left: 10px;
}

/* qued music section */

.comingUpSection {
  padding-top: 2px;
  margin-top: 5px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 10px;
  background: #fafafa;
  box-shadow: inset -5px -5px 10px #dfdfdf, inset 5px 5px 10px #ffffff;
}
.comingUpHeader {
  display: flex;
  padding-left: 10px;
  font-weight: bold;
  border-radius: 5px;
  background: #fafafa;
  box-shadow: 8px -8px 7px #e9e9e9, -8px 8px 7px #ffffff;
  margin-left: 7px;
  margin-right: 7px;
  height: 25px;
  justify-content: center;
  padding-top: 7px;
}

.queItemsContainer {
  height: 210px;
  display: flex;
  flex-direction: column;
}

.quedArtistAndSong {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.quedItems {
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.quedLikes {
  margin-right: 10px;
  font-weight: bold;
  color: green;
}

.quedArtist {
  font-weight: bold;
  font-size: 12px;
}
