.App {
  text-align: center;
}

/* main container */

.mainContainer {
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.displayedContent {
  border-radius: 4px;
  height: 496px;
  width: 299px;
  display: flex;
  flex-direction: column;
  border-radius: 3px;

}
