/* qued music section */

.comingUpSection {
  padding-top: 2px;
  margin-top: 5px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 10px;
}
.comingUpHeader {
  display: flex;
  padding-left: 10px;
  font-weight: bold;
  border-radius: 5px;
  margin-left: 7px;
  margin-right: 7px;
  height: 25px;
  justify-content: center;
  padding-top: 7px;
}

.queItemsContainer {
  height: 210px;
  display: flex;
  overflow: scroll;
  flex-direction: column;
}

.queItemsContainer::-webkit-scrollbar {
  display: none;
}

.quedArtistAndSongContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.quedItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 6px;
}

.quedLikes {
  margin-right: 10px;
  font-weight: bold;
  color: green;
  border-radius: 50px;
  padding: 5px;
}

.quedArtist {
  font-weight: bold;
  font-size: 19px;
  color: #55b9f3;
  display: flex;
  padding-bottom: 1px;
}
.quedSong {
  font-style: italic;
  display: flex;
  font-weight: bold;
  font-size: 10px;
}
